<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/canciones.css">

    <title>listado de canciones</title>
</head>
<body>
    <h1>LISTADO DE CANCIONES</h1>

    <div class="contenedorPadre">
    <ul>
        <% for( let i = 0; i < canciones.length; i++) { %>
            <li class="listaDeCanciones">
                <a href="<% canciones[i].id %>"><%= canciones[i].titulo %></a>
            </li>
            <% } %>
    </ul>
    </div>
    
</body>
</html>