<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cancionesDelete.css">
    <title>BORRADO DE CANCIONES</title>
</head>
<body>

    <div class="contenedorPadre">

    <h1>Estas seguro de que deseas borrar la cancion <%= Cancion.titulo %> ??</h1>
        <div class="botones">
        <form action="/canciones/delete?_method=delete<%= Cancion.id %>" method="POST">
        <br>
         <button class="botonBorrar" type="submit"> <strong>Borrar la Cancion</strong></button>
         <br>
         <br> 
        <a class="botonVolver" href="/canciones"> <strong>Listado de Canciones</strong></a>
    </div>
        
    </form>
    </p>
</div>
</body>
</html>